/**************************
    1. Universal Setting
    2. Navbar
    3. Login Form
    4. Footer
**************************/

form input{
    width: 300px;
    height: 36px;
    font-size: 20px;
}

/************************************
*************************************
    1. Universal Setting
*************************************
*************************************/

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee;
    font-family: "segoe ui";
}

/************************************
*************************************
    2. Navbar
*************************************
*************************************/

.saraha {
    background-color: #19BFB0;
}

.container {
    width: 1100px;
    margin: auto;
    overflow: hidden;
}

.logo {
    width: 60%;
    float: left;
    padding-left: 40px;
    line-height: 50px;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
}

.logo:hover {
    letter-spacing: 2px;
}

.list {
    width: 35%;
    float: left;
}

.saraha ul {
    list-style: none;
    margin-left: -10px;
}

.saraha ul li a{
    float: left;
    margin-left: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, .6);
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.saraha a.current,
.saraha ul li a:hover {color: white;}

.saraha ul li:first-of-type {
    margin-left: 0;
}
/*************************
**************************
    3. Login Form
**************************
*************************/
.login {
    width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.login h2 {
    text-align: center;
    margin-bottom: 50px;
}

.login form {
    background-color: white;
    border: 2px solid #777;
    padding: 30px;
    width: 400px;
    overflow: hidden;
}




form button {
    display: block;
    width: 100px;
    height: 36px;
    font-size: 20px;
    background-color: none;
    background-color: white;
    border: 1px solid #19BFB0;
    color:#19BFB0;
}

form button:hover {
    cursor: pointer;
    background-color: #19BFB0;
    color: white;

}


.holder {
    overflow: hidden;
    margin-bottom: 20px;
}
/*************************
**************************
    4. footer
**************************
*************************/
.footer {
    background-color: #19BFB0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.copy {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 17px;
    color: white;
}

/* Start login page */
input[type="text"] , [type="password"]
{
        width: 95%;
        height: 25px;
        font-size: 20px;
        border-radius: 2px;
        display: inline-block;
        margin-bottom: 5px;
        padding: 5px;
        border : 1px solid #ccc;
}
input[type="submit"]
{
    display: block;
    width: 97%;
    height: 36px;
    font-size: 20px;
    background-color: none;
    background-color: white;
    border: 1px solid #19BFB0;
    color:#19BFB0;
    margin-top:3px
}
input[type="checkbox"]{
    width: 35px;
    height: 15px;
}
input[type="submit"]:hover
{
    cursor: pointer;
    background-color: #19BFB0;
    color: white;
}
.login form
{
    width: 300px;
    margin: auto;
}

/* End login Page */
